body {
    background-color: var(--accent);
    z-index: -100;
}




#jodelogo {
    display: block;
    width: 100%;
    height: auto;
    padding-inline: 27vw;
    margin-bottom: -0.7vw;
    margin-inline: auto;
    background-color: var(--base);
    padding-top: 0.5rem;
}



.forsidegrid {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    grid-template-rows: auto;
    background-color: var(--accent);
    padding-inline: 20vw;
    align-items: center;
    padding-top: 1rem;
    margin-top: 0;
    gap: 15vw;
    height: 59.12vh;
}

.mig img {
    width: 17vw;
    border-radius: 30px;
    transition: 0.5s;
    background-color: var(--base);
}

.mig {
    text-align: center;
    font-family: var(--fr);
    font-variation-settings: "wght" 400;
    color: var(--accent);
    background-color: var(--base);
    padding: 1rem;
    border-radius: 30px 30px 0px 0px;
    height: 100%;
}

.mig .ommig {
    display: block;
    text-decoration: none;
    color: var(--accent);
    font-size: 3vw;
    margin-top: 1rem;
}

.mig .ommig:hover {
    color: var(--white);
}

.mig img:hover {
    scale: 1.05;
}

.fulllist .h2 {
    font-family: var(--fr);
    color: var(--base);
    font-variation-settings: "wght" 400;
    font-size: 4vw;

}

.fulllist a {
    font-family: var(--iv);
    text-decoration: none;
    color: var(--base);
    font-size: 1.5rem;
}

.list li {
    padding-block: 0.6rem;
    border-bottom: solid var(--base);
    line-height: 1rem;
    margin-top: 0.5rem;
}

.list ul {
    list-style: none;
}

@media screen and (max-width: 900px) {
    .forsidegrid {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        padding-left: 2rem;
        padding-right: 2rem;
        gap: 0;
        height: 100%;
    }

    .mig .ommig {
        font-size: 10vw;
    }

    #jodelogo {
        padding-left: 2rem;
        padding-right: 2rem;
        margin-bottom: -0.4rem;
        padding-top: 0;
    }

    .mig img {
        width: 100%;
    }

    .list li {
        margin-bottom: 1rem;
        padding-block: 1rem;
        border-bottom: solid var(--base);
        margin-top: 0;
    }

    .fulllist {
        padding-bottom: 2rem;
    }

    .fulllist .h2 {
        font-size: 3rem;
    }
}