body {
    background-color: var(--base);
}

.menu li:nth-child(2) {
    border-bottom: solid var(--accent);
}

h1 {
    font-family: var(--fr), sans-serif;
    font-variation-settings: "wght" 600;
    text-align: center;
    background-color: var(--accent);
    padding: 0;
    margin: 0;
    font-size: 15vw;
    color: var(--base);
    line-height: 15vw;
    height: 11vw;
}


.ommiggrid {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr;
    margin-inline: 4rem;
    gap: 1rem;
    margin-top: 2rem;
}

.txt {
    font-family: var(--iv), sans-serif;
    color: var(--accent);
    font-size: 1.3rem;
    line-height: 1.8rem;
}

.txt ul {
    margin-top: 2rem;
}

.mig {
    text-align: center;
    background-color: var(--accent);
    padding: 2rem;
    font-family: var(--fr), sans-serif;
    font-size: 3vw;
    font-variation-settings: "wght" 400;
    color: var(--base);
    border-radius: 46px;
    height: fit-content;
}

.mig img {
    width: 100%;
    height: auto;
    border-radius: 30px;
}

footer {
    border-top: 5px solid var(--accent);
    margin-top: 2rem;
}


@media screen and (max-width: 900px) {
    .ommiggrid {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        margin-inline: 2rem;
    }

    .mig img {
        order: 1;
    }

    .txt {
        order: 2;
    }

    .mig {
        font-size: 2.4rem;
    }

}